@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<!--https://www.youtube.com/watch?v=YUPg41kG_kw-->
<!-- https://www.youtube.com/watch?v=T-e554Zt3n4&list=RDCMUCzyi0LvZjdIIF_rwbnZ3u7Q&start_radio=1-->
<!-- Using Razor -->
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
